@utility on-hover-text-yellow {
  @apply from-target via-target to-target bg-linear-to-r bg-clip-text duration-300 hover:text-transparent hover:text-shadow-[1px_1px_20px] hover:text-shadow-yellow-100/90;
}

@utility text-gradient {
  @apply from-primary-light to-accent bg-linear-to-br bg-clip-text text-transparent;
}

@utility hover-text-underline {
  @apply after:absolute after:-bottom-1 after:left-1/2 after:h-[2px] after:w-0 after:-translate-x-1/2 after:bg-white after:transition-all after:duration-300;
  @apply hover:after:w-full;
}

@utility bg-gradient-text {
  -webkit-background-clip: text;
  color: transparent;

  background-image: linear-gradient(
    135deg,
    var(--color-primary-light) 0%,
    var(--color-accent) 100%
  );
}
