@theme {
  /* Backgrounds */
  --color-background: #060914;
  --color-card: #0d1128;
  --color-secondary: #111728;
  --color-muted: #1a2035;

  /* Brand */
  --color-primary-darker: #5b21b6;
  --color-primary-dark: #7c3aed;
  --color-primary: #9333ea;
  --color-primary-light: #a855f7;
  /* --color-primary-soft: #c9a9f0; */
  --color-primary-soft: #b06af5;

  --color-accent-dark: #0891b2;
  --color-accent: #06b6d4;
  --color-shine: #8b5cf6;

  /* Skill Categories */
  --color-framework: var(--color-primary-light);
  --color-markup: var(--color-accent);
  --color-tools: #ec4899;
  --color-design: #f97316;

  /* Roadmap */
  --color-science: var(--color-primary-soft);
  --color-experience: #fb923c;
  --color-germany: var(--color-accent);

  --color-roadmap-subheadline: #d8b4fe;

  /* Text */
  --color-foreground: #dde3f0;
  --color-subheadline: #c27aff;

  --color-text-gray-white: rgb(255 255 255 / 95%);
  --color-text-gray-lighter: rgb(255 255 255 / 80%);
  --color-text-gray-light: rgb(255 255 255 / 60%);
  --color-text-gray: rgb(255 255 255 / 50%);
  --color-text-gray-dim: rgb(255 255 255 / 30%);
  --color-text-gray-dim-alt: rgb(255 255 255 / 35%);

  /* Borders */
  --color-border: rgb(255 255 255 / 8%);
  --color-border-hover: rgb(168 85 247 / 30%);

  /* Skills */
  --color-skill-markup: #06b6d4;
  --color-skill-tools: #ec4899;
  --color-skill-framework: #a855f7;
  --color-skill-design: #f97316;
  --color-skill-bg: rgba(0, 0, 0, 0.45);
}
